[Unit]
Description=webdata server

[Service]
Type=simple
ExecStart=/home/wuzhibin86/workspace/web-data/WebData
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target