[Unit]
Description=webdata server

[Service]
Type=simple
ExecStart=/home/zhibinwu82/workspace/web-data/WebData -config /home/zhibinwu82/workspace/web-data/config.json
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
